
body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #333;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

textarea:focus, input:focus{
    outline: none;
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F2F2F2;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.logo img {
    height: 90px;
}

a {
    color: #333;
    text-decoration: none;
}

.login-content {
    display: flex;
    justify-content: center;
}

.login-remember {
    padding-top: 5px;
}

.login-remember input {
    margin-right: 5px;
}

.login-form {
    margin-top: 200px;
    max-width: 800px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    border-radius: 3px;
    background: #fff;
}

.login-form h1 {
    font-weight: 600;
    font-size: 25px;
    color: #333;
}

.external-title {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    padding-top: 10px;
    margin-top: 30px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.external-btn {
    display: inline-flex;
    align-items: center;
    height: 50px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}

.external-btn:focus, .external-btn:hover {
    box-shadow: 1px 3px 5px 3px rgba(0,0,0,0.1);
}

.external-btn:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
} 

.external-btn img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.external-btn span {
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.providers {
    margin-bottom: 20px;
}

.form-wrapper {
    margin-top: 25px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    color: #333;
}

.form-control {
    font-size: 18px;
    height: 40px;
    color: #333;
    border: 1px solid #B4B4B4;
    border-radius: 2px;
    min-width: 400px;
    display: block;
    padding: 0 10px;
}

.form-button {
    padding: 6px 14px;
    border-radius: 2px;
    font-size: 18px;
    margin-right: 10px;
    box-sizing: border-box;
    transition: all 0.4s;
}

.primary:hover {
    background: #07e0a7;
}

.default:hover {
    background: rgb(250, 250, 250);
}

.form-button:focus,
.form-button:active {
    outline: 0;
}

.primary {
    background: #00D29D;
    color: white;
    border: solid 1px #00D29D;
    min-width: 180px;
}

.default {
    background: white;
    color: #333;
    border: solid 1px #d9d9d9;
}

.navbar-header {
    position: relative;
    top: -4px;
}
.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}
.icon {
    position: relative;
    top: -10px;
}
.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}
.page-consent .client-logo {
    float: left;
}
.page-consent .client-logo img {
    width: 80px;
    height: 80px;
}
.page-consent .consent-buttons {
    margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}
.page-consent .consent-form .consent-description {
    margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
    font-weight: normal;
}
.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}
.grants .page-header {
    margin-bottom: 10px;
}
.grants .grant {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.grants .grant img {
    width: 100px;
    height: 100px;
}
.grants .grant .clientname {
    font-size: 140%;
    font-weight: bold;
}
.grants .grant .granttype {
    font-size: 120%;
    font-weight: bold;
}
.grants .grant .created {
    font-size: 120%;
    font-weight: bold;
}
.grants .grant .expires {
    font-size: 120%;
    font-weight: bold;
}
.grants .grant li {
    list-style-type: none;
    display: inline;
}
.grants .grant li:after {
    content: ", ";
}
.grants .grant li:last-child:after {
    content: "";
}

.alert {
    list-style: none;
}

.alert-danger {
    color: #FF4D4F;
}